.posts-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* align-items: center; */
}

.posts-list li {
    display: flex;
    flex-direction: column;
    border: black thin solid;
    margin: 20px;
    background-color: aquamarine;
    border-radius: 10px;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: thin black solid;
    height: 40px;
    align-items:center;
    background-color: purple;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.post-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.post-form textarea {
    width: 80%;
    height: 100px;
   
}

.post-form-buttons {
    align-self: flex-end;
    margin-right: 10%
}

.link-button {
    background: aquamarine;
    border: solid purple thin;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    width: 130px;
    text-align: center;
    padding: 5px;
    align-self: center;
    cursor:pointer;
    font-size: 16px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.link-button:visited {
    color: inherit;
}

.post-form-button {
    background: purple;
    border: solid black thin;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    width: 100px;
    text-align: center;
    padding: 5px;
    align-self: center;
    cursor:pointer;
    font-size: 16px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.posts-list li > button {
    align-self: flex-end;
}