.posts-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: -30px;
    /* align-items: center; */
}

.posts-list li {
    display: flex;
    flex-direction: column;
    border: antiquewhite thin solid;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 650px;
    margin-left: 2px;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: thin antiquewhite solid;
    height: 40px;
    align-items:center;
    background-color: rgb(49, 49, 90);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}



.post-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.post-form textarea {
    width: 80%;
    height: 100px;
   
}

.post-form-buttons {
    align-self: flex-end;
    margin-right: 10%;
    /* margin-top: -28px; */
}


.post-form-button {
    background: antiquewhite;
    border: solid black thin;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    width: 100px;
    text-align: center;
    padding: 5px;
    align-self: center;
    cursor:pointer;
    font-size: 16px;
    margin: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 16px;
    /* margin-top: -28px; */
}

.edit-post-form-button {
    background: antiquewhite;
    border: solid antiquewhite thin;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    width: 100px;
    text-align: center;
    padding: 5px;
    align-self: center;
    cursor:pointer;
    font-size: 16px;
    margin: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 16px;
    margin-top: -28px; 
}

.posts-list li > button {
    align-self: flex-end;
}

.create-button-container{
    width: 650px;
}
.create-post-button {
    margin-left: 200px;
    width: 250px;
    border-color: black;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    padding: 3px;
    background-color: antiquewhite;
    cursor: pointer;
}

.say-about-cards {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: antiquewhite;
}

.post-text-box {
    background-color: rgb(253, 250, 246);
    font-family: 'Commissioner', sans-serif;

}

.user-email-tag{
    padding: 20px;
    font-size: 16px;
    font-family: 'Staatliches', cursive;
    color: antiquewhite;
}

.date-tag{
    padding: 20px;
    font-size: 16px;
    font-family: 'Staatliches', cursive;
    color: antiquewhite;  
}

.post-body-text {
    padding-left: 20px;
    font-family: 'Commissioner', sans-serif;
    color: rgb(49, 49, 90);
}

#root {
    margin: -8px;
  }

.post-errors {
    color: red;
    font-style: italic;
    font-size: 20px;
}