@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tarot-reading-container {
    background-color: rgb(49, 49, 90);
    padding-bottom: 1000px;
    
}

.card-read-settings{
    text-align: center;
    background-color: rgb(49, 49, 90);
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    border: solid 2px;
    padding: 20px;
}

.Please-select-title {
    font-family: 'Staatliches', cursive;
    color: antiquewhite;
    font-size: 30px;
    padding: 15px;
    /* border: solid 2px; */
}

.cardspread{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../../images/tabletop.jpeg");
    width: 100%;


}

.deck-container {
    /* display: flex; */
    width: 90%;
    text-align: center;
}

.deck-image {
    height: 160px;
    width: 90px;
    display: inline-block;
}

.individual-card-container {
    display: inline-block;
    height: 160px;
    width: 90px;
    margin-left: -1.7rem;
    padding-top: 20px;

}

.deck-image:hover {
    transform: translateY(1rem);
}

.chosen-card {
    height: 325px;
    width: 200px;
    padding: 40px;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.Current-and-reset{
    text-align: center;
    color: antiquewhite;
    font-family: 'Staatliches', cursive;

}

.reset-cards-button{
    font-family: 'Staatliches', cursive;
    font-size: 32px;
    background-color: rgb(49, 49, 90) ;
    color: antiquewhite;
    cursor: pointer;


}

.reset-cards-button:hover{
    color: brown;
}


.cards-revealed {
    text-align: center;
    color: antiquewhite;
    font-family: 'Staatliches', cursive;
}

.reveal-cards-button{
    font-size: 60px;
    background-color: rgb(49, 49, 90) ;
    border-color: rgb(49, 49, 90)  ;
    color: antiquewhite;
    font-family: 'Staatliches', cursive;
    box-shadow: 2px 2px rgb(49, 49, 90);
    padding: 0;
    border: none;
    cursor: pointer;
}

.reveal-cards-button:hover{
    color: crimson;
}

ul > li {
    list-style: none;
}

input[type=checkbox]{
    z-index: -1;
    opacity: 0;
    height: 160px;
    width: 90px;
    position: absolute;
    cursor: pointer;
}

input[type=checkbox]:checked + .deck-image {
    transform: translateY(1rem);

}

input[type=checkbox]:hover + .deck-image {
    transform: translateY(1rem)
}

.three-cards {

}

.Tarot-answer {
    font-size: 30px;
    font-family: 'Commissioner', sans-serif;;
}