#about-container {
  background-color: pink;
  padding-top: 1px;
  padding-bottom: 10px;
}

#dev-links {
  display: flex;
  justify-content: space-around;
}

.links-contain {
  display: flex;
  justify-content: space-between;
}

.icon-contain {
  height: 30px;
  width: 30px;
}
