#about-container {
  background-color: rgb(49, 49, 90);
  border-top: 5px solid rgb(166, 157, 144);
  font-family: 'Staatliches', cursive;
  color: antiquewhite;
  padding-top: 1px;
  padding-bottom: 10px;
}

#dev-links {
  display: flex;
  justify-content: space-around;
}

.dev-individ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dev-name {
  text-align: center;
}

.links-contain {
  display: flex;
  justify-content: space-evenly;
  width: 105px;
}

.icon-contain {
  height: 30px;
  width: 30px;
}
  .icon-contain > svg {
    fill: rgb(166, 157, 144);
  }
