.card-show-container {
    width: 100%;
    height: 100%;
    background-color: rgb(49, 49, 90);
}

.card-show-flex {
    /* display: flex; */
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    
}

.card-details {
    width: 600px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: antiquewhite;
}

.card-meaning{
    color: antiquewhite;
    width: 320px;
    text-align: center;
    margin-top: -45px;
    margin-left: 41px;
}

.card-image-show {
    padding: 40px;
    width: 320px;
    height: 560px;
}



.card-name {
    font-size: 50px;
    color: antiquewhite;
    border-style: solid;
}

.card-arcana {
    font-size: 30px;
    margin-top: -1px
}

.card-desc {
    font-family: 'Commissioner', sans-serif;
    margin-top: -30px;
}

.card-positions{
    color: antiquewhite;
    font-size: 20px;
    width: 700px;
}

.meaning-title {
    font-size: 20px;
    font-family: 'Staatliches', cursive;
}


.card-comments{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 200px;
}